body {
    height: 900px;
   width: 1000px;
   margin: 100px auto;
   padding: 15px;
   border: 1px solid #999999;
   background: #dbced7d7;
}
.titulo{
       
    background-color:#dbced7d7 ;
    height:260px;
    width:345px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Arial, Helvetica, sans-serif;
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    float: left;
   
}
.contenedor{
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.logoutn{
    width: 300px;
    height: 300px;
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 6px;
}
.datos{
        
    background-color: #dbced7d7;
    height: 260px;
    width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    float: right;
    align-items: center
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    text-align: center;
}
.info {
    background-color:#dbced7d7;
    float: right;
    width: 345px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-left: 20px;
    padding-right: 10px;
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    text-align: center;
}
li{
       
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 130px;
    text-decoration:underline;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagen{
    width: 400px;
    height: 400px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 00px;
    margin-right: 300px;
    text-align: center;
    line-height: 10px;
}