body {
    height: 900px;
   width: 1000px;
   margin: 100px auto;
   padding: 15px;
   border: 1px solid #999999;
   background: #dbced7d7;
}
.titulo{
       
    background-color:#dbced7d7 ;
    height:250px;
    width:300px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif Arial, Helvetica, sans-serif;
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    float: left;
    text-align: center;
}
.contenedor{
    margin--moz-box-shadow: 0px 0px 30px #fdf9fb;
    -webkit-box-shadow: 0px 0px 30px #fdf9fb;
    box-shadow: 0px 0px 30px #fdf9fb;bottom: 10px;
    text-align: center;
}